.card {
    background-color: rgb(215, 215, 244);
    padding: 1rem 2rem; 
    width: 70%;
    border-radius: 12px;
    border: 3px solid lightslategray;
}

.card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid lightslategray;
}

.card__date:hover {
    opacity: .2;
}

.card__content {
    text-align: justify;
    font-style: normal;
    font-size: 20px;
}

.card__name {
    font-style: normal;
    font-size: 30px;
}