:root {
    --background-color: gainsboro;
    --background: linear-gradient(90deg,
        #ffffff,
        gainsboro);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  * {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100vh;
    overflow-y: hidden;
  }
  
  body::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  body {
    background: rgb(198, 196, 196);
    font-family: "Roboto", sans-serif;
  }
  
  .wrapper {
    height: calc(90% - 50px);
    background: whitesmoke;
    width: calc(100% - 100px);
    margin: 50px;
    border-radius: 20px 20px 20px 20px;
    display: grid;
    grid-template-columns: 20% 30% 40% 10%;
    grid-template-rows: 100%;
    grid-template-areas: "sidebar inbox dialog pannel";
  }
  
  .sidebar {
    grid-area: sidebar;
    height: 100%;
    width: 100%;
    background: var(--background-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar__logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-left: 20px;
  }
  
  .logo__icon {
    padding-right: 20px;
    padding-left: -30px;
    color: blue;
  }
  
  .inbox {
    grid-area: inbox;
    background: #ffffff;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 60px;
    position: fixed;
    padding-bottom: 40px;
  }
  
  
  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding-left: 5px;
  }
  
  .dialog {
    grid-area: dialog;
    background: var(--background);
  
    display: grid;
    grid-template-rows: 10% 80% 10%;
    border-right: 1px solid rgb(207, 201, 201);
  }
  
  .dialog__top {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    border-bottom: 1px solid rgb(207, 201, 201);
  }
  
  .dialog__contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .contact__info {
    display: flex;
    flex-direction: column;
    line-height: 20px;
    margin-left: 20px;
  }
  
  .contact__info--name {
    font-size: 15px;
    font-weight: bold;
  }
  
  .contact__info--status {
    color: rgb(198, 194, 194);
    font-size: 13px;
    font-weight: 600;
  }
  
  .dialog__button--top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
  }
  
  .dialog__input,
  .dialog__btn {
    height: 30px;
    margin-left: 15px;
    border: 0.5px solid gainsboro;
    border-radius: 7px;
    color: rgba(67, 64, 64, 0.694);
    cursor: pointer;
    font-size: large;
  }
  
  .light {
    background: #ffffff;
  }
  
  .dialog__btn:hover {
    background: rgb(244, 242, 242);
  }
  
  .dialog__input {
    background: var(--background);
  }
  
  .dialog__bottom {
    margin-left: 20px;
    border-top: 1px solid rgb(207, 201, 201);
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: space-between;
    align-items: center;
  }
  
  .dialog__button--down {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
  }
  .dialog__message{
    width: 100%;
  }
  .dialog__text {
    height: 30px;
    width: 70%;
    margin-left: 15px;
    border: none;
    border-radius: 7px;
    background: transparent;
    cursor: pointer;
  
  }
  
  .dark {
    background: rgb(198, 196, 196);
  }
  
  .blue {
    color: white;
    background: blue;
  }
  
  .pannel {
    grid-area: pannel;
    display: grid;
    align-content: space-between;
    justify-content: center;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 1px solid rgb(207, 201, 201);
    background: var(--background);
  }
  
  .pannel__btn {
    border: 0.5px solid gainsboro;
    border-radius: 7px;
    color: rgba(67, 64, 64, 0.694);
    cursor: pointer;
  }
  
  .pannel__btn:hover {
    background: rgb(244, 242, 242);
  }
  
  .pannel__btn {
    margin-top: 10px;
  }
  
  .pannel__bottom {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }