:root {
    --wrapper-width: 900px;
}

.wrapper {
    background: lightgray;
    width: var(--wrapper-width);
    height: calc(var(--wrapper-width) * .4 + 20px);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 600;
    font-size: 3rem;

}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 {
    width: 40%;
    aspect-ratio: 1;
    background: pink;
}
.section2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 59%;

}
.block2 {
    background: lightgreen;
    height: 40%;
}
.row {
    background: #fff;
    display: flex;
    justify-content: space-between;
}
.block3, 
.block4 {
    width: calc(50% - 10px);
    height: 100%;
}
.block3 {
    background: coral;
}
.block4 {
    display: flex;
    justify-content: space-between;
   flex-direction: column; 
}
.block4a,
.block4b {
    background: lightblue;
    height: calc(50% - 10px);

}
.is-centered {
    display: flex;
    justify-content: center;
    align-items: center;

}
@media (max-width: 768px) {
    .wrapper {
        display: none;
        flex-direction: column;
    }
    body {

        align-items: unset;
    }
    .section1,
    .section2 {
        width: 100%;
        height: 30%;
    }
    .section2 {

    }
}