:root {
    --color: #A6A6A6;
    --background: #F9F9F9;
}
body {
    width: 100vw
    margin: 0;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

* {
    box-sizing: border-box;
}
main {
    margin-left: 15vw;
    
    width: 70vw;
    display: block;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 30px;
}
.header__info{

}
.header__img{
    height: 70px;
    width: 70px;
}
.header__icon {
    background: #000;
    color: #fff;
}
.header__input:hover{
cursor: pointer;
}
.header__user{
    display: flex;

}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}


.menu__list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 30px;
}

.menu__item {
    margin-bottom: 30px;
    text-decoration: none;
}

.mr {
    margin-right: 1rem;
}

.sidebar {
    
    position: fixed;
    height: 100vh;
    background: var(--background);
    left: 0;
    top: 0;
    width: 300px;
    padding-left: 20px;
    
}

.sidebar__logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 40px;
}
.sidebar__img {
    width: 35px;
    height: 35px;
}
.block{
    display: flex;
    flex-direction: column;

}
.section {
    width: 300px;
    height: 100%;

}
.calendar{
    padding: 0;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    
}
.calendar__item{
    list-style: none;
    width: calc(100% / 7);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.calendar__item--small{
font-size: .75rem;
}

.calendar__item--grey{
color: rgb(163, 163, 163);
}
.calendar__item--active{
    background: #000;
    color: #fff;
}
.calendar__item:not(.calendar__item--small):hover {
    background: lightgray;
   cursor: pointer;
}
.timeline {
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}
.lesson {
    background: blue;
    width: 70%;
    height: 40px;
    position: absolute;
    left: 25%;
}
.lesson--930h {
    top: calc(100% / 17 * 1);
}