body {
  margin: 20rem;
}
.button {
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-out;
}
.button--red {
  background: rgba(244, 15, 15, 0.532);
}
.button--green {
  background: rgba(8, 228, 8, 0.571);
}
.button--red:hover {
  background: rgba(244, 15, 15, 0.253);
}
.button--green:hover {
  background: rgba(8, 228, 8, 0.21);
}

.actions {
  display: flex;
  background: #eeeeee;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 8rem;
  border-radius: 12px;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
