html, body {
    margin: 0;
    width: 100%;
    height: 90%; 
    }

header {
    width: 100%;
    height: 10%;
    background-color: blue;
    justify-content: space-between;
    display: flex;
    color: white;
    box-sizing: border-box;
    padding: 0 5%;
    align-items: center;
}

.logo {
    margin: 0;
    width: 50%;
    font-size: 64px;
}

.navigation {
    width: 15%;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
 }

 li > a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }