*{
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin:0;
    color: #000;
    
}
span {
    display: block;
    width: 100%; 
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    align-self: center;
}

.page {
    color: white;
    display:block;
    width: 100%;  
    
}
.container {
    background: grey;
    display: flex;
    flex-wrap: nowrap;
    margin: 30px;
    padding: 20px;
    width: calc(100% - 60px);
    height: 90%;
}
.sidebar {
    display: flex;
    width: 35%;
    height: auto;
    background: #ff5722a3;
    padding: 20px;
    margin-left: 10px;
    margin-right: 20px;
}
.main {
    display: block;
    margin-left: 10px;
    width: 60%;
}
.header {
    background: greenyellow;
    display: flex;
    flex: 1 1;
    width: 100%;
    height: 35%;
    margin-bottom: 10px;
    
    
}
.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    width: 100%;
    height: 65%;
    
    

}
.article {
    background: rgba(223, 97, 200, 0.833);
    display: flex;
    flex: 2 1;
    width: 60%;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 8px;

}
.aside {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 8px;
}

.aside__block1 {
    background: rgba(35, 35, 245, 0.735);
    height: 50%;
    width: calc(100%-10px);
    margin-bottom: 7.5px;
}
.aside__block2 {
    background: rgba(35, 35, 245, 0.735);
    height: 50%;
    width: 100%;
    margin-top: 7.5px;
}
@media (max-width: 768px) {
    body {
        height: 100vh;
        width: 100vw;
    }
    .sidebar {
        display: none;
    }
    .main {
        min-height: 100%;
        width: 100%;
    }
    .header {
        height:30%;
    }
    .article {
        flex: none;
        width: 100%;
        height: 65%;
    }
    .aside {
        width: 100%;
        height: 35%;
    }
}
